* {
  	box-sizing: border-box;
 }
 *:focus { 
	outline: transparent !important; 
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f3f3f3;
}
h1 {
	padding: 50px 0;
	background: url(img1.jpg);
	background-size: cover;
	color: #eee;
	text-shadow:  1px 1px 10px #000;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}
main {
		padding: 40px;
}
textarea {
    background-color: #0b0b0b;
    color: #3c86c3;
    padding: 15px;
    font-family: courier new;
    overflow: auto;
    border-radius: 8px;
}
.norm, .rev {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}
text {
	padding-right: 20px;
	font-size: 23px;
}
#start-but, #reset-but {
	background-color: #3c86c3;
	border: none;
	border-radius: 50px;
	color: #eee;
	color: #eee;
	text-shadow:  1px 1px 4px #000;
	text-transform: uppercase;
	padding: 11px 35px;
	margin: 30px 5px;
	text-align: center;
	font-size: 16px;
	box-shadow: 0px 0px 5px #222;
	-webkit-box-shadow: 0px 0px 5px #222;
	-moz-box-shadow: 0px 0px 5px #222;
	-o-box-shadow: 0px 0px 5px #222;
}
hr {
	width: 80%;
}
label {
	font-weight: bold;
}
.results {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	padding: 35px;
}
.prevalence {
	padding: 0 20px;
}
.percentage {
	padding: 0 20px;
}

@media (max-width: 576px) {
	main {
		padding: 20px 30px;
	}
	h1 {
		padding: 45px 20px;
	}
	text {
		padding: 0;
		margin-bottom: 15px;
	}
	#start-but, #reset-but {
		margin: 0px 5px 45px;
	}
	.norm, .rev {
		display: flex;
		flex-direction: column;
	}
}